<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial;">
    <tr>
        <td align="center">
            <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_header.jpg" usemap="#menu_map" border="0">
   <map name="menu_map" id="menu_map">
     <area shape="rect" coords="237,25,457,86" href="http://www.wishtrend.com/" target="_blanck"/>
     <area shape="rect" coords="22,103,122,124" href="http://www.wishtrend.com/307-free-shipping-zone" target="_blanck"/>
     <area shape="rect" coords="133,102,211,127" href="http://www.wishtrend.com/module/customer_extra_information/SteadySeller" target="_blanck"/>
     <area shape="rect" coords="224,103,293,126" href="http://www.wishtrend.com/209-skin-care" target="_blanck"/>
     <area shape="rect" coords="302,102,370,128" href="http://www.wishtrend.com/163-make-up" target="_blanck"/>
     <area shape="rect" coords="373,103,422,126" href="http://www.wishtrend.com/218-hair" target="_blanck"/>
     <area shape="rect" coords="428,103,472,126" href="http://www.wishtrend.com/178-body-care" target="_blanck"/>
     <area shape="rect" coords="483,102,555,127" href="http://www.wishtrend.com/196-tool-accessories" target="_blanck"/>
     <area shape="rect" coords="560,103,609,127" href="http://www.wishtrend.com/182-men" target="_blanck"/>
     <area shape="rect" coords="614,102,675,128" href="http://www.wishtrend.com/260-special" target="_blanck"/>
   </map>
        </td>
    <tr>
    <tr>
        <td align="center">
            <table id="body_cont" width="700" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                      <img src="http://www.wishtrend.com/img/patrick/mailing/160525_mail.jpg" alt="" width="700" usemap="#content_map" border="0">
                      <map name="content_map" id="content_map">
                      <area shape="rect" coords="-1,685,699,1386" href="http://www.wishtrend.com/make-up/1464-klairs-illuminating-supple-blemish-cream-bb-cream-creamy-natural-fit-concealer.html?utm_source=product2_2&utm_medium=160525&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
                        <area shape="rect" coords="-14,1399,703,2109" href="http://www.wishtrend.com/skin-care/1369-freshly-juiced-vitamin-drop-klairs.html?utm_source=product3_2&utm_medium=160525&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
                      	<area shape="rect" coords="0,-5,699,699" href="http://www.wishtrend.com/skin-care/418-the-best-facial-toner-klairs-supple-preparation-facial-toner.html?utm_source=product1_2&utm_medium=160525&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
</map>
</td>
                </tr>
                <tr>
                    <td width="700" height="10"></td>
                </tr>        
          
                 <tr>
  <td width="700">
 <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_footer.jpg" width="700" usemap="#footer_map" border="0" />
 <map name="footer_map" id="footer_map">
   <area shape="circle" coords="335,35,21" href="https://www.youtube.com/user/WISHTrendTV" target="_blank"/>
   <area shape="circle" coords="398,35,19" href="https://twitter.com/wishtrend" target="_blank"/>
   <area shape="circle" coords="460,36,19" href="https://kr.pinterest.com/wishtrend/" target="_blank"/>
   <area shape="circle" coords="523,35,19" href="https://www.facebook.com/WISHglobal/" target="_blank"/>
   <area shape="circle" coords="586,35,19" href="https://www.instagram.com/wishtrend/" target="_blank"/>
 </map>
  </td>
</tr>
            </table>
      </table>




