.product_num_box{
	width:300px;	
}
.display_inline_block{
	display:inline-block;
}

.review_rating_wrapper, .review_rating {
	width: 100px;
    height: 16px;
    background: url('http://www.wishdevelop.com/themes/panda/css/modules/blockreviews/css/../images/rating_star.png') 0 -16px no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.review_cont_wrapper {
    width: 593px;
    padding-right: 21px!important;
}

.review_rating {
    background-position-y: 0;
    background-position: 0 0;
}

.review_rating_number {
    font-size: 15px;
    line-height: 16px;
    vertical-align: top;
}

.review_rating_wrapper {
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 1px;
}

.DisplayInline {
    display:inline-block!important;
}