<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial;">
    <!--Header-->
	<tr>
        <td colspan="3" align="center">
            <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_header.jpg" usemap="#menu_map" border="0">
			<map name="menu_map" id="menu_map">
			  <area shape="rect" coords="237,25,457,86" href="http://www.wishtrend.com/" target="_blanck"/>
			  <area shape="rect" coords="22,103,122,124" href="http://www.wishtrend.com/307-free-shipping-zone" target="_blanck"/>
			  <area shape="rect" coords="133,102,211,127" href="http://www.wishtrend.com/361-best-seller" target="_blanck"/>
			  <area shape="rect" coords="224,103,293,126" href="http://www.wishtrend.com/209-skin-care" target="_blanck"/>
			  <area shape="rect" coords="302,102,370,128" href="http://www.wishtrend.com/163-make-up" target="_blanck"/>
			  <area shape="rect" coords="373,103,422,126" href="http://www.wishtrend.com/218-hair" target="_blanck"/>
			  <area shape="rect" coords="428,103,472,126" href="http://www.wishtrend.com/178-body-care" target="_blanck"/>
			  <area shape="rect" coords="483,102,555,127" href="http://www.wishtrend.com/196-tool-accessories" target="_blanck"/>
			  <area shape="rect" coords="560,103,609,127" href="http://www.wishtrend.com/182-men" target="_blanck"/>
			  <area shape="rect" coords="614,102,675,128" href="http://www.wishtrend.com/260-special" target="_blanck"/>
			</map>
        </td>
    <tr>
	<!--Contents start-->
	<tr>
    	<td colspan="3" align="center">
        <img src="http://www.wishtrend.com/img/patrick/mailing/160530_contents_mail.jpg" usemap="#Map" border="0" />
        </td>
    </tr>
	<!--Footer-->
    <tr>
	  <td colspan="3" align="center">
		<p><img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_footer.jpg" width="700" usemap="#footer_map" border="0" /></p><table width="700" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
              <td align="center" style="line-height:17px">This mail is sent from WISHTREND to our customers.<br>If you don\'t want this type of information or e-mail, please click the <a href="http://www.wishtrend.com/module/customer_extra_information/Unsubscribe?email=>[$Email$]&s_key=[$Secret Key$]</" target="_blank">[unsubscription]</a></td>
            </tr>
            <tr>
                <td align="center">
                    <div style="width:700px;padding:7px 0 0 0;border-bottom:1px solid #d0d0d0"></div>
                </td>
            </tr>
            <tr>
              <td align="center" style="font-size:11px;padding-top:7px;line-height:17px">49 Gangnam-daero, 110-gil, Gangnam-gu, Seoul, Korea | Contact : +82. 2. 3444. 3412 | Email : <a href="mailto:cs@wishtrend.com" target="_blank">cs@wishtrend.com</a>
              </td>
            </tr>
        </tbody>
    </table>
		  <map name="footer_map" id="footer_map">
		    <area shape="circle" coords="335,35,21" href="https://www.youtube.com/user/WISHTrendTV" target="_blank"/>
		    <area shape="circle" coords="398,35,19" href="https://twitter.com/wishtrend" target="_blank"/>
		    <area shape="circle" coords="460,36,19" href="https://kr.pinterest.com/wishtrend/" target="_blank"/>
		    <area shape="circle" coords="523,35,19" href="https://www.facebook.com/WISHglobal/" target="_blank"/>
		    <area shape="circle" coords="586,35,19" href="https://www.instagram.com/wishtrend/" target="_blank"/>
	      </map>
	    </p>
	  </td>
      
	</tr>
    
</table>
    
<map name="Map" id="Map">
  <area shape="rect" coords="230,562,470,601" href="http://www.wishtrendglam.com/a-simple-back-acne-treatment/?utm_source=contents&utm_medium=160530&utm_campaign=MAILING" target="_blank" />
  <area shape="rect" coords="228,1194,471,1231" href="https://www.instagram.com/p/BFfispxKUNJ/?taken-by=wishtrend&utm_source=insta&utm_medium=160530&utm_campaign=MAILING" target="_blank" />
</map>
