<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial; color: #00C;">
    <tr>
        <td align="center">
            <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_header.jpg" usemap="#menu_map" border="0">
			<map name="menu_map" id="menu_map">
			  <area shape="rect" coords="237,25,457,86" href="http://www.wishtrend.com/" target="_blanck"/>
			  <area shape="rect" coords="22,103,122,124" href="http://www.wishtrend.com/307-free-shipping-zone" target="_blanck"/>
			  <area shape="rect" coords="133,102,211,127" href="http://www.wishtrend.com/module/customer_extra_information/SteadySeller" target="_blanck"/>
			  <area shape="rect" coords="224,103,293,126" href="http://www.wishtrend.com/209-skin-care" target="_blanck"/>
			  <area shape="rect" coords="302,102,370,128" href="http://www.wishtrend.com/163-make-up" target="_blanck"/>
			  <area shape="rect" coords="373,103,422,126" href="http://www.wishtrend.com/218-hair" target="_blanck"/>
			  <area shape="rect" coords="428,103,472,126" href="http://www.wishtrend.com/178-body-care" target="_blanck"/>
			  <area shape="rect" coords="483,102,555,127" href="http://www.wishtrend.com/196-tool-accessories" target="_blanck"/>
			  <area shape="rect" coords="560,103,609,127" href="http://www.wishtrend.com/182-men" target="_blanck"/>
			  <area shape="rect" coords="614,102,675,128" href="http://www.wishtrend.com/260-special" target="_blanck"/>
			</map>
        </td>
    <tr>
    <tr>
        <td align="center">
            <table id="body_cont" width="700" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="3">
                      <img src="http://www.wishtrend.com/themes/panda/img/category/banner_c_71.jpg" alt="" width="700" usemap="#Map" border="0"></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="18"></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="45" bgcolor="#1b1b1b">
                        <p style="color: #ffffff; font-size: 20px; text-align: center; font-style: italic;">
                            <!-- 타이틀 이미지 하단 컨텐츠 -->
                  <strong style="font-weight: 900; color: #FF0000;">BEAUTY STEAL,</strong> Stop Buying, Start Stealing!</p></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="10"></td>
                </tr>
                <tr>
                    <td width="346" height="576">
                      <table id="Table_01" width="345" height="576" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_left.png" width="4" height="4" alt=""></td>
                                <td colspan="3">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_middle.png" width="337" height="4" alt=""></td>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_right.png" width="4" height="4" alt=""></td>
                            </tr>
                            <tr>
                                <td rowspan="5">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_left.png" width="4" height="564" alt=""></td>
                                <td colspan="3" width="337" height="32"></td>
                                <td rowspan="5">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_right.png" width="4" height="564" alt=""></td>
                            </tr>
                            <tr>
                                <td rowspan="4" width="32" height="532"></td>
                                <td width="274" height="274">
                                  <img src="http://www.wishtrend.com/4140-large_default/pure-vitamin-c215-advanced-serumnatural-vitamin-215-enhancing-sheet-mask-5sheets-c20.jpg" width="274" height="274" usemap="#Map2" style="display: block;" border="0" /></td>
                                <td rowspan="4" width="31" height="532"></td>
                            </tr>
                            <tr>
                                <td width="274" height="20"></td>
                            </tr>
                            <tr>
                                <td width="274" height="202" style="border-top: 2px solid #000; border-bottom: 2px solid #000;">
                                    <table width="274" height="202" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td height="44" align="center" style="font-size: 20px;">Pure Vitamin C21.5 Serum + Vitamin 21.5 Enhancing Mask</td>
                                        </tr>
                                        <tr>
                                            <td height="25" align="center" style="font-size: 12px;">by BY WISHTREND</td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td height="50" style="font-size: 13px;" valign="top">With the C20 Pure Vitamin C21.5 
Advanced Serum for the ultimate 
vitamin C experience to amplify 
and maximize the results</td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><a href="http://www.wishtrend.com/beauty-steal/1444-pure-vitamin-c215-advanced-serumnatural-vitamin-215-enhancing-sheet-mask-5sheets-c20.html?utm_source=product1&utm_medium=20160314&utm_term=bywishtrend&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" target="_blank">MORE ></a><a href="" target="http://www.wishtrend.com/beauty-steal/1444-pure-vitamin-c215-advanced-serumnatural-vitamin-215-enhancing-sheet-mask-5sheets-c20.html?utm_source=product1&utm_medium=20160314&utm_term=bywishtrend&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" style="text-decoration: none; font-size: 12px; font-style: italic; color: #ff0042"></a></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td width="274" height="32"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_left.png" width="4" height="8" alt=""></td>
                                <td colspan="3">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_middle.png" width="337" height="8" alt=""></td>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_right.png" width="4" height="8" alt=""></td>
                            </tr>
                      </table>

                    </td>
                    <td width="8" height="540"></td>
                    <td width="346" height="540">
                      <table id="Table1" width="345" height="576" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_left.png" width="4" height="4" alt=""></td>
                                <td colspan="3">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_middle.png" width="337" height="4" alt=""></td>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/top_right.png" width="4" height="4" alt=""></td>
                            </tr>
                            <tr>
                                <td rowspan="5">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_left.png" width="4" height="564" alt=""></td>
                                <td colspan="3" width="337" height="32"></td>
                                <td rowspan="5">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_right.png" width="4" height="564" alt=""></td>
                            </tr>
                            <tr>
                                <td rowspan="4" width="32" height="532"></td>
                                <td width="274" height="274">
                                  <img src="http://www.wishtrend.com/4332-large_default/iu-whitening-cream-glutathione-delight18.jpg" width="274" height="274" usemap="#Map3" style="display: block;" border="0" /></td>
                                <td rowspan="4" width="31" height="532"></td>
                            </tr>
                            <tr>
                                <td width="274" height="20"></td>
                            </tr>
                            <tr>
                                <td width="274" height="202" style="border-top: 2px solid #000; border-bottom: 2px solid #000;">
                                    <table width="274" height="208" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td height="44" align="center" style="font-size: 20px;">I.U Whitening Cream <br />
                                              Glutathione </td>
                                        </tr>
                                        <tr>
                                            <td height="25" align="center" style="font-size: 12px;">by DELIGHT18</td>
                                        </tr>
                                        <tr>
                                            <td height="26"></td>
                                        </tr>
                                        <tr>
                                            <td height="50" style="font-size: 13px;" valign="top">+ Super whitening effect.<br />
+ Contained Glutachion that help 
   your skin bright and moist.</td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><a href="http://www.wishtrend.com/beauty-steal/1322-iu-whitening-cream-glutathione-delight18.html?utm_source=product2&utm_medium=20160314&utm_term=DELIGHT18&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" target="_blank">MORE ></a><a href="http://www.wishtrend.com/beauty-steal/1322-iu-whitening-cream-glutathione-delight18.html?utm_source=product2&utm_medium=20160314&utm_term=DELIGHT18&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" target="_blank"></a><a href="" target="_blank" style="text-decoration: none; font-size: 12px; font-style: italic; color: #ff0042"></a></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td width="274" height="32"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_left.png" width="4" height="8" alt=""></td>
                                <td colspan="3">
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_middle.png" width="337" height="8" alt=""></td>
                                <td>
                                    <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_right.png" width="4" height="8" alt=""></td>
                            </tr>
                      </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="11"></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="45" bgcolor="#1b1b1b">
                        <p style="font-size: 20px; color: #ffffff; text-align: center; font-style: italic;">
                            <!-- 위시 티비 상단 컨텐츠 -->
                            <strong style="color: #FFFF00;">WISHTREND TV! </strong>Beauty & Trend Magazine!</p>

                    </td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="10"></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="201">
                      <table width="700" height="201" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_left.png" width="4" height="4" alt=""></td>
                                    <td colspan="4">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_middle.png" width="692" height="4" alt=""></td>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_right.png" width="4" height="4" alt=""></td>
                                </tr>
                                <tr>
                                    <td rowspan="10">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_left.png" width="4" height="189" alt=""></td>
                                    <td colspan="4" width="692" height="12"></td>
                                    <td rowspan="10">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_right.png" width="4" height="189" alt=""></td>
                                </tr>
                                <tr>
                                    <td rowspan="9" width="27" height="172"></td>
                                    <td rowspan="8">
                                      <img src="http://www.wishtrend.com/glam/wp-content/uploads/2016/02/COVER2.jpg"  alt="" width="250" height="160" usemap="#Map4" border="0"></td>
                                    <td colspan="2" width="415" height="21"></td>
                                </tr>
                                <tr>
                                    <td rowspan="8" width="38" height="151"></td>
                                    <td width="377" height="18" style="font-size: 18px;">PRODUCT JUNKIE</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td width="377" height="35" style="font-size: 14px; font-style: italic;" valign="top">WEAR SUNSCREEN EVERY DAY? THE BEST SUNSCREEN FOR ALL SKIN TYPES</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td style="color: #b7b6b6; font-size: 13px;" width="377" height="32" valign="top">
Today we talk of the effects of the sun’s rays on our skin. It is a known fact that at the time of dawn or dusk the slanting...</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td style="color: #ff0042; font-size: 12px;" valign="top" width="377" height="33"><a href="http://www.wishtrend.com/glam/wear-sunscreen-every-day-the-best-sunscreen-for-all-skin-types/?a_aid=dm" target="_blank">Learn more></a><a href="http://www.wishtrend.com/glam/wear-sunscreen-every-day-the-best-sunscreen-for-all-skin-types/?a_aid=dm" target="_blank"></a></td>
                                </tr>
                                <tr>
                                    <td width="250" height="12"></td>
                                    <td width="377" height="12"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_left.png" width="4" height="8" alt=""></td>
                                    <td colspan="4">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_middle.png" width="692" height="8" alt=""></td>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_right.png" width="4" height="8" alt=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="5"></td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="201">
                        <table width="700" height="201" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_left.png" width="4" height="4" alt=""></td>
                                    <td colspan="4">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_middle.png" width="692" height="4" alt=""></td>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/top_right.png" width="4" height="4" alt=""></td>
                                </tr>
                                <tr>
                                    <td rowspan="10">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_left.png" width="4" height="189" alt=""></td>
                                    <td colspan="4" width="692" height="12"></td>
                                    <td rowspan="10">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/middle_right.png" width="4" height="189" alt=""></td>
                                </tr>
                                <tr>
                                    <td rowspan="9" width="27" height="172"></td>
                                    <td rowspan="8">
                                      <img src="http://www.wishtrend.com/glam/wp-content/uploads/2016/03/COVER1-680x350.jpg"  alt="" width="250" height="160" usemap="#Map5" border="0"></td>
                                    <td colspan="2" width="415" height="21"></td>
                                </tr>
                                <tr>
                                    <td rowspan="8" width="38" height="151"></td>
                                    <td width="377" height="18" style="font-size: 18px;">TIP &amp; TUTORIAL</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td width="377" height="35" style="font-size: 14px; font-style: italic;" valign="top">KPOP SKINCARE & BEAUTY TIPS FOR TEENS</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td style="color: #b7b6b6; font-size: 13px;" width="377" height="32" valign="top">With only a few weeks left before spring blossoms upon us, the winter weather is still affecting the products we use  ....</td>
                                </tr>
                                <tr>
                                    <td width="377" height="7"></td>
                                </tr>
                                <tr>
                                    <td style="color: #ff0042; font-size: 12px;" valign="top" width="377" height="33"><a href="http://www.wishtrend.com/glam/kpop-skincare-beauty-tips-for-teens/?a_aid=dm" target="http://www.wishtrend.com/glam/kpop-skincare-beauty-tips-for-teens/?a_aid=dm">Learn more></a></td>
                                </tr>
                                <tr>
                                    <td width="250" height="12"></td>
                                    <td width="377" height="12"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_left.png" width="4" height="8" alt=""></td>
                                    <td colspan="4">
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_middle.png" width="692" height="8" alt=""></td>
                                    <td>
                                        <img src="http://www.wishtrend.com/img/cms/Mail/template/bottom_right.png" width="4" height="8" alt=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" width="700" height="15"></td>
                </tr>
                 <tr>
  <td colspan="3" width="700">
	<img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_footer.jpg" width="700" usemap="#footer_map" border="0" />
	<map name="footer_map" id="footer_map">
	  <area shape="circle" coords="335,35,21" href="https://www.youtube.com/user/WISHTrendTV" target="_blank"/>
	  <area shape="circle" coords="398,35,19" href="https://twitter.com/wishtrend" target="_blank"/>
	  <area shape="circle" coords="460,36,19" href="https://kr.pinterest.com/wishtrend/" target="_blank"/>
	  <area shape="circle" coords="523,35,19" href="https://www.facebook.com/WISHglobal/" target="_blank"/>
	  <area shape="circle" coords="586,35,19" href="https://www.instagram.com/wishtrend/" target="_blank"/>
	</map>
  </td>
</tr>
            </table>
            <table width="700" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
              <td align="center" style="line-height:17px">This mail is sent from WISHTREND to our customers.<br>If you don\'t want this type of information or e-mail, please click the <a href="http://www.wishtrend.com/module/customer_extra_information/Unsubscribe?email=[$Maill Account$]&s_key=[$Secret Key$]" target="_blank">[unsubscription]</a></td>
            </tr>
            <tr>
                <td align="center">
                    <div style="width:700px;padding:7px 0 0 0;border-bottom:1px solid #d0d0d0"></div>
                </td>
            </tr>
            <tr>
              <td align="center" style="font-size:11px;padding-top:7px;line-height:17px">49 Gangnam-daero, 110-gil, Gangnam-gu, Seoul, Korea | Contact : +82. 2. 3444. 3412 | Email : <a href="mailto:cs@wishtrend.com" target="_blank">cs@wishtrend.com</a>
              </td>
            </tr>
        </tbody>
    </table>
        </td>
    </tr>
    
   
  
</table>


<map name="Map" id="Map">
  <area shape="rect" coords="-6,13,691,347" href="http://www.wishtrend.com/beauty-steal/618-skin-lab-drvita-clinic-fre-c-sun-protector.html?utm_source=TOPBANNER_TG1&utm_medium=20160315&utm_term=suncream&utm_content=618&utm_campaign=BANNER&?a_aid=dm" target="http://www.wishtrend.com/beauty-steal/618-skin-lab-drvita-clinic-fre-c-sun-protector.html?utm_source=TOPBANNER_TG1&utm_medium=20160315&utm_term=suncream&utm_content=618&utm_campaign=BANNER&?a_aid=dm" />
  <area shape="rect" coords="-1,2,701,332" href="#" />
</map>

<map name="Map2" id="Map2">
  <area shape="rect" coords="1,1,274,277" href="http://www.wishtrend.com/beauty-steal/1444-pure-vitamin-c215-advanced-serumnatural-vitamin-215-enhancing-sheet-mask-5sheets-c20.html?utm_source=product1&utm_medium=20160314&utm_term=bywishtrend&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" target="http://www.wishtrend.com/beauty-steal/1444-pure-vitamin-c215-advanced-serumnatural-vitamin-215-enhancing-sheet-mask-5sheets-c20.html?utm_source=product1&utm_medium=20160314&utm_term=bywishtrend&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" alt="" />
</map>

<map name="Map3" id="Map3">
  <area shape="rect" coords="1,1,274,274" href="http://www.wishtrend.com/beauty-steal/1322-iu-whitening-cream-glutathione-delight18.html?utm_source=product2&utm_medium=20160314&utm_term=DELIGHT18&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" target="http://www.wishtrend.com/beauty-steal/1322-iu-whitening-cream-glutathione-delight18.html?utm_source=product2&utm_medium=20160314&utm_term=DELIGHT18&utm_content=1444&utm_campaign=MAILING&?a_aid=dm" alt="" />
</map>

<map name="Map4" id="Map4">
  <area shape="rect" coords="2,0,249,159" href="http://www.wishtrend.com/glam/wear-sunscreen-every-day-the-best-sunscreen-for-all-skin-types/?a_aid=dm" target="http://www.wishtrend.com/glam/wear-sunscreen-every-day-the-best-sunscreen-for-all-skin-types/?a_aid=dm" alt="" />
</map>


<map name="Map5" id="Map5">
  <area shape="rect" coords="1,0,250,161" href="http://www.wishtrend.com/glam/kpop-skincare-beauty-tips-for-teens/?a_aid=dm" target="http://www.wishtrend.com/glam/kpop-skincare-beauty-tips-for-teens/?a_aid=dm" alt="" />
</map>
