<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial;">
    <tr>
        <td align="center">
            <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_header.jpg" usemap="#menu_map" border="0">
   <map name="menu_map" id="menu_map">
     <area shape="rect" coords="237,25,457,86" href="http://www.wishtrend.com/" target="_blanck"/>
     <area shape="rect" coords="22,103,122,124" href="http://www.wishtrend.com/307-free-shipping-zone" target="_blanck"/>
     <area shape="rect" coords="133,102,211,127" href="http://www.wishtrend.com/module/customer_extra_information/SteadySeller" target="_blanck"/>
     <area shape="rect" coords="224,103,293,126" href="http://www.wishtrend.com/209-skin-care" target="_blanck"/>
     <area shape="rect" coords="302,102,370,128" href="http://www.wishtrend.com/163-make-up" target="_blanck"/>
     <area shape="rect" coords="373,103,422,126" href="http://www.wishtrend.com/218-hair" target="_blanck"/>
     <area shape="rect" coords="428,103,472,126" href="http://www.wishtrend.com/178-body-care" target="_blanck"/>
     <area shape="rect" coords="483,102,555,127" href="http://www.wishtrend.com/196-tool-accessories" target="_blanck"/>
     <area shape="rect" coords="560,103,609,127" href="http://www.wishtrend.com/182-men" target="_blanck"/>
     <area shape="rect" coords="614,102,675,128" href="http://www.wishtrend.com/260-special" target="_blanck"/>
   </map>
        </td>
    <tr>
    <tr>
        <td align="center">
            <table id="body_cont" width="700" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                      <img src="http://www.wishtrend.com/img/patrick/mailing/160420_mail.jpg" alt="" width="700" usemap="#Map" border="0"></td>
                </tr>
                <tr>
                    <td width="700" height="10"></td>
                </tr>        
          
                 <tr>
  <td width="700">
 <img src="http://www.wishtrend.com/img/cms/Mail/new/wishtrend_mail_footer.jpg" width="700" usemap="#footer_map" border="0" />
 <map name="footer_map" id="footer_map">
   <area shape="circle" coords="335,35,21" href="https://www.youtube.com/user/WISHTrendTV" target="_blank"/>
   <area shape="circle" coords="398,35,19" href="https://twitter.com/wishtrend" target="_blank"/>
   <area shape="circle" coords="460,36,19" href="https://kr.pinterest.com/wishtrend/" target="_blank"/>
   <area shape="circle" coords="523,35,19" href="https://www.facebook.com/WISHglobal/" target="_blank"/>
   <area shape="circle" coords="586,35,19" href="https://www.instagram.com/wishtrend/" target="_blank"/>
 </map>
  </td>
</tr>
            </table>
  </table>


<map name="Map" id="Map"><area shape="rect" coords="83,1948,616,2020" href="http://www.wishtrend.com/374-wear-whitening-cosmetic?utm_source=promotionpage2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
    <area shape="rect" coords="2,-3,699,637" href="http://www.wishtrend.com/374-wear-whitening-cosmetic?utm_source=BANNER2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
    <area shape="rect" coords="349,1268,699,1788" href="http://www.wishtrend.com/beauty-steal/1140-wear-white-face-whitening-finisher-lei-lani-.html?utm_source=product4_2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
    <area shape="rect" coords="-5,1267,347,1785" href="http://www.wishtrend.com/brand/1052-wear-white-body-whitening-cream-leilani.html?utm_source=product3_2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
    <area shape="rect" coords="350,702,698,1267" href="http://www.wishtrend.com/beauty-steal/1409-iu-white-tan-body-perfuming-cream-delight18.html?utm_source=product2_2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
    <area shape="rect" coords="0,700,348,1265" href="http://www.wishtrend.com/beauty-steal/1540-iu-white-pang-cellapy-sun-cushion-delight18.html?utm_source=product1_2&utm_medium=160420&utm_campaign=MAILING&?a_aid=dm" target="_blank" />
</map>

